<%- include(`partials/header`) %>
    <div class="table-container">
        <h2 class="todo-title">Todo List</h2>
        <div>
            <a class="btn" href="/add-todo">Add todo</a>
        </div>
        <br />

        <table>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Created at</th>
                <th>Updated at</th> 
                <th>Action</th> 
            </tr>

            <tr>
                <td>test todo title</td>
                <td>test todo description</td>
                <td>created time</td>
                <td>updated time</td>
                <td>
                    <a href="/update-todo" class="btn">Edit</a>
                    <a href="/delete-todo" class="btn">Delete</a>
                </td>
            </tr>
        </table>
    </div>
<%- include(`partials/footer`) %>